# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#
.gcloudignore
# If you would like to upload your .git directory, .gitignore file or files
# from your .gitignore file, remove the corresponding line
# below:
.git
.gitignore
!server.py
!chatbot.py
!firebase_setup.py
!requirements.txt
!Datapreprocessor.py
!LSTM_model.py
!xgboost_model.pkl
!matching_users.py
!app.yaml
!transitai-firebase-adminsdk-t5n10-5c8949dd9d.json

# Python pycache:
__pycache__/
# Ignored by the build system
/setup.cfg