# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# 가상환경 무시
myenv/
venv/
.env/

# 환경변수 파일
.env

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff
instance/
.webassets-cache

# Scrapy stuff
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# Flutter 자동 생성 파일 제외
**/generated_plugin_registrant.dart
**/generated_plugins.dart

# IntelliJ 관련 파일
*.iml
*.ipr
*.iws
.idea/

# VSCode 관련 파일 (필요시 주석 해제)
.vscode/

# Flutter/Dart/Pub 관련
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Firebase 관련
/build/windows/x64/extracted/firebase_cpp_sdk_windows/libs/**/*.lib
/build/windows/x64/firebase_cpp_sdk_windows_12.0.0.zip

# Symbolication 관련
app.*.symbols

# Obfuscation 관련
app.*.map.json

# Android Studio 빌드 아티팩트
/android/app/debug
/android/app/profile
/android/app/release

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.venv
env/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# Firebase 서비스 계정 키 파일
transitai-firebase-adminsdk-t5n10-5de6d0555b.json
